MohammedSawwas N8N Expert REMWASTE.json
{
  "name": "MohammedSawwas N8N Expert REMWASTE",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1648,
        96
      ],
      "id": "b76a9958-1bf4-4c91-bcb4-a92620054745",
      "name": "No message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c34f74c4-6b65-4392-bb69-4af53cc35e3f",
              "leftValue": "={{ $json['Lead Score'] === 'Hot Lead'}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        -96
      ],
      "id": "eac4a088-013b-44db-b67c-daa6fff6b360",
      "name": "Is \"Hot Lead\" ?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NPCV1-M7iG8RfA7robosQs4X6wL5AeFsedaTG5-kxSA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('Extract Form Fields (Lead Details)').item.json.full_name }}",
            "Email": "={{ $('Extract Form Fields (Lead Details)').item.json.email }}",
            "Phone": "={{ $('Extract Form Fields (Lead Details)').item.json.phone }}",
            "Company Size": "={{ $('Extract Form Fields (Lead Details)').item.json.company_size }}",
            "Budget": "={{ $('Extract Form Fields (Lead Details)').item.json.budget }}",
            "Interest Level": "={{ $('Extract Form Fields (Lead Details)').item.json.interest_level }}",
            "Lead Score": "={{ $json.lead_score_category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size",
              "displayName": "Company Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest Level",
              "displayName": "Interest Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1088,
        -96
      ],
      "id": "69dc8e3e-a43b-420a-aa9e-a8bbdee72046",
      "name": "Store Lead Details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aFl6no7QpjWlyKC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03df5d03-324f-4f4b-ba80-fb7ab7c403d6",
              "name": "lead_score_category",
              "value": "={{ (\n  ($json.budget > 7500 && $json.interest_level.trim().toLowerCase() === 'high' && 'Hot Lead') || // Hot Lead check\n  (\n\n// Start of Warm Lead / Cold Lead block\n    (\n      ($json.budget >= 2500 && $json.budget <= 7500 && ($json.interest_level.trim().toLowerCase() === 'medium' || $json.interest_level.trim().toLowerCase() === 'high')) ||\n      ($json.budget > 7500 && $json.interest_level.trim().toLowerCase() === 'medium')\n    ) && 'Warm Lead' // Warm Lead check\n  ) ||\n  'Cold Lead' // Default Cold Lead\n) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "afeb8d07-1e43-4f20-9191-f049241de3d9",
      "name": "Score Lead",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8483259-a191-4c70-8b6a-d2eab57fe581",
              "leftValue": "={{ $('Webhook - Tally Form Submitted').item.json.body.data.fields[0].value != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[0].value != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "08aeea6e-b1c1-4f83-9dd2-2ca3d4163f6e",
              "leftValue": "={{ $('Webhook - Tally Form Submitted').item.json.body.data.fields[1].value != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[1].value != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "0f4195f7-3dca-449f-afc1-61606d3b86df",
              "leftValue": "={{ $('Webhook - Tally Form Submitted').item.json.body.data.fields[2].value != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[2].value != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "68c038e9-5abd-4802-9c17-84487385af24",
              "leftValue": "={{ $('Webhook - Tally Form Submitted').item.json.body.data.fields[3].value != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[3].value != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "10022fa0-aa71-45de-a8e8-748ae5113b0f",
              "leftValue": "={{ $('Webhook - Tally Form Submitted').item.json.body.data.fields[4].value != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[4].value != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "40d43ad5-9adc-4772-8894-35db03e7218e",
              "leftValue": "={{$('Webhook - Tally Form Submitted').item.json.body.data.fields[5].value[0]  != '' && $('Webhook - Tally Form Submitted').item.json.body.data.fields[5].value[0]  != null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "88ad0396-4256-46b9-9b9b-668720fc9ce2",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f4a361c1-9156-4e67-a2bc-488d37674f7d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ],
      "id": "374ab743-511c-4b80-9d3c-12a40f3c3ea2",
      "name": "Webhook - Tally Form Submitted",
      "webhookId": "f4a361c1-9156-4e67-a2bc-488d37674f7d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22ca2406-009d-457b-b5a8-bf070165e6be",
              "name": "full_name",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "bc73ae61-d130-454c-977c-e20e9ebb505e",
              "name": "email",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "6d803d51-f588-4407-883e-0faba6bc8b5b",
              "name": "phone",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "string"
            },
            {
              "id": "e90102ce-0a53-4133-9192-258809754f43",
              "name": "company_size",
              "value": "={{ $json.body.data.fields[3].value }}",
              "type": "number"
            },
            {
              "id": "934f6566-222d-4ea7-b54e-6acbaa2919c7",
              "name": "budget",
              "value": "={{ $json.body.data.fields[4].value }}",
              "type": "number"
            },
            {
              "id": "dd823be1-b7c3-47fd-9414-02ad9f78d662",
              "name": "interest_level",
              "value": "={{\n  $json.body.data.fields.find(field => field.label === 'Interset Level').options.find(\n    option => option.id === $json.body.data.fields.find(field => field.label === 'Interset Level').value[0]).text\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "7c809e3c-79f1-4e25-85f8-84315d3b8b7f",
      "name": "Extract Form Fields (Lead Details)",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        112
      ],
      "id": "de8705e9-2d36-4809-9ba8-f8d5d8e5f1f1",
      "name": "Handle Missing Fields Scenario"
    },
    {
      "parameters": {
        "fromEmail": "mohammedyousersawwas@gmail.com",
        "toEmail": "mohammedyousersawwas@gmail.com",
        "subject": "Thank you For Your Interest",
        "html": "=<p>Hi {{ $('Is \"Hot Lead\" ?').item.json['Full Name'] }},</p>\n\n<p>Thank you for reaching out to us! We've received your inquiry and are excited to help.</p>\n\n<p>We've added you to our nurture sequence where we'll share some valuable insights and resources related to your interests.</p>\n\n<p>In the meantime, feel free to explore our <a href=\"YOUR_COMPANY_WEBSITE_HERE\">website</a> or reply to this email if you have any immediate questions.</p>\n\n<p>Best regards,</p>\n\n<p>\n  The MohammedSawwas Sales Team<br>\n  MohammedSawwas<br>\n  <a href=\"https://www.mohammedsawwas.com\">www.mohammedsawwas.com</a><br>\n  support@mohammedsawwas.com\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2048,
        -192
      ],
      "id": "f33c637c-79f9-45b0-ab9e-c530a24fc042",
      "name": "Send Follow-up Email",
      "webhookId": "fce84295-1d01-4aa5-a335-144103f8429e",
      "credentials": {
        "smtp": {
          "id": "WhJsOJMmOXjDy3wV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        -192
      ],
      "id": "c31e277f-8bf1-4851-bd36-b0fd6e0499ba",
      "name": "Delay Nurture Email",
      "webhookId": "a609c434-46ee-49ca-af8c-291440e0b26e"
    },
    {
      "parameters": {
        "content": "**Purpose:** Introduces a delay before sending the automated follow-up email to the lead. This simulates a more natural interval for nurture sequences.\n\n**Configuration:**\n- **Duration:** 2 minutes (set for testing/demonstration purposes). For production, this would typically be a longer duration (e.g., 1 day)."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        -352
      ],
      "id": "ded0a550-0b3c-4794-b555-14f66124229c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096YRB7XEX",
          "mode": "list",
          "cachedResultName": "all-agenticai"
        },
        "text": "=\n{{ \"New Hot Lead: , Budget £\"+ $json.Budget +\", Interest: \"+ $json['Interest Level']+\" – Check Google Sheets for details: https://shorturl.at/DMiUy \" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1632,
        -192
      ],
      "id": "5cc9d6dc-0c04-4e8e-a328-a0158b618929",
      "name": "Notify \"Sales\" - New \"Hot Lead\"",
      "webhookId": "c80d94d7-5a87-4d32-8e28-baa136269756"
    },
    {
      "parameters": {
        "content": "**Purpose:** Sends an IMMEDIATE internal Slack notification to the sales team ONLY when a 'Hot Lead' is identified and processed.\n\n**Configuration:**\n- **Channel:** Configured to send to a dedicated sales channel\n- **Message:** Concisely includes only the essential details for a hot lead: Budget and Interest Level.\n\n**Trigger:** This node is specifically triggered by the 'True' branch of the preceding 'Is Hot Lead?' IF node."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -336
      ],
      "id": "7d6608cb-41f2-4371-9b71-7f1a80d4bc75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Purpose:** Appends the processed lead data, including the calculated lead score, to the designated Google Sheet.\n**Configuration:**\n- **Sheet:** [Sheet1]\n\n- **Mapping:** Ensures n8n properties are correctly mapped to corresponding sheet columns."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -256
      ],
      "id": "b3c9164d-882d-44c9-b43f-cc9b5038ccaa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Purpose:** Assigns a lead score category ('Hot Lead', 'Warm Lead', 'Cold Lead') based on predefined criteria for Budget and Interest Level.\n\n**Scoring Logic:**\n- **Hot Lead:**\n    - Budget > £7,500 AND Interest Level = 'High'\n- **Warm Lead:** (If not Hot)\n    - (Budget >= £2,500 AND Budget <= £7,500 AND Interest Level = 'Medium' or 'High')\n    - OR\n    - (Budget > £7,500 AND Interest Level = 'Medium')\n- **Cold Lead:** (Default)\n    - Any other combination not meeting 'Hot' or 'Warm' criteria."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -256
      ],
      "id": "f15ce966-2b08-49d1-b00a-1bf266573254",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Purpose:** Sends an automated follow-up email to the lead, acknowledging their inquiry and initiating the nurture sequence.\n\n**Content:**\n- Uses the lead's `full_name` for personalization.\n- Includes standard professional email closing with company details."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        -352
      ],
      "id": "c8171a3f-c766-4b91-8b2f-57926a223cba",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Purpose:** Extracts key lead information from the nested Tally.so JSON payload."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -160
      ],
      "id": "490c173a-7dd2-423e-af05-0c72f5c03d25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Purpose:** Ensures all critical lead information (Full Name, Email, Budget, Interest Level) is present before proceeding with scoring and storage.\n\n**Logic:**\n- Checks if `full_name`, `email`, `budget`, and 'interest_level` are not empty/null.\n- **True Branch:** Proceeds to lead scoring and storage.\n- **False Branch:** Currently ends the workflow. In a production scenario, this branch could be used for error logging, sending an alert to an admin, or sending a \"missing info\" email to the lead."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        160
      ],
      "id": "dfd5d32e-3d43-4459-b03c-cb2ec085d7ab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "This webhook receives POST requests from the Tally.so form.\nIt's configured to capture the raw JSON payload of form submissions.\nEnsure the Tally.so form's webhook URL is updated to point to this n8n webhook (Use Prod URL for Production)."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -160
      ],
      "id": "43f37918-3f0d-4876-ae08-90befefafbf2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "NOTE: All credentials have been removed or replaced with placeholders for security.\nPlease set your own credentials before running.",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -336
      ],
      "id": "52756c6d-993a-4f31-a55c-5f10ad448b25",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Please add a Slack account here.",
        "height": 80,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        -16
      ],
      "id": "025723f6-bd2a-4d87-97fe-02735f3d6267",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Please add a Google account here.",
        "height": 80,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        48
      ],
      "id": "c36201de-f8a3-40e0-8e15-fcc113be90e2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Please add a SMTP account here.",
        "height": 80,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        -48
      ],
      "id": "1dec4456-06d7-4f86-8c27-f8b075ec095f",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {
    "Webhook - Tally Form Submitted": [
      {
        "json": {
          "headers": {
            "host": "mohammedsvu.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "1022",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-release=5ec801cd36845e270895abc8068ecf45423c1734,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=9bcb37c7c5029d2bb31be3dbbf25dd92,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.8457853592614968,sentry-sample_rate=0.01",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.76",
            "cf-ew-via": "15",
            "cf-ipcountry": "BE",
            "cf-ray": "964106377576ef4e-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "9bcb37c7c5029d2bb31be3dbbf25dd92-5d361f4d067c308e-0",
            "x-forwarded-for": "34.96.41.76, 141.101.98.103",
            "x-forwarded-host": "mohammedsvu.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-53-77dd8844d7-bz7s7",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.76"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "09d002c1-440f-4732-8ef2-439a171abe1c",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-07-24T05:30:12.927Z",
            "data": {
              "responseId": "q4OaQZk",
              "submissionId": "q4OaQZk",
              "respondentId": "9el72K",
              "formId": "wMj9JX",
              "formName": "\n\nContact Us",
              "createdAt": "2025-07-24T05:30:12.000Z",
              "fields": [
                {
                  "key": "question_VP67v6",
                  "label": "Full Name",
                  "type": "INPUT_TEXT",
                  "value": "mmm"
                },
                {
                  "key": "question_P9qQvx",
                  "label": "Email",
                  "type": "INPUT_EMAIL",
                  "value": "rr@test.com"
                },
                {
                  "key": "question_ElOVv2",
                  "label": "Phone",
                  "type": "INPUT_PHONE_NUMBER",
                  "value": "+971582156019"
                },
                {
                  "key": "question_rOZ9GX",
                  "label": "Company Size",
                  "type": "INPUT_NUMBER",
                  "value": 1
                },
                {
                  "key": "question_47b0A5",
                  "label": "Budget",
                  "type": "INPUT_NUMBER",
                  "value": 100
                },
                {
                  "key": "question_joV451",
                  "label": "Interset Level",
                  "type": "DROPDOWN",
                  "value": [
                    "34047ceb-8352-474c-a0a0-658dee1a1f7d"
                  ],
                  "options": [
                    {
                      "id": "2474b38b-cf04-40d2-a6a1-8484879f655a",
                      "text": "High"
                    },
                    {
                      "id": "cf16467a-c0c4-4152-adf6-08edc138341b",
                      "text": "Medium"
                    },
                    {
                      "id": "34047ceb-8352-474c-a0a0-658dee1a1f7d",
                      "text": "Low"
                    }
                  ]
                }
              ]
            }
          },
          "webhookUrl": "https://mohammedsvu.app.n8n.cloud/webhook-test/f4a361c1-9156-4e67-a2bc-488d37674f7d",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Is \"Hot Lead\" ?": {
      "main": [
        [
          {
            "node": "Notify \"Sales\" - New \"Hot Lead\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Lead Details": {
      "main": [
        [
          {
            "node": "Is \"Hot Lead\" ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Store Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Missing Fields Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Tally Form Submitted": {
      "main": [
        [
          {
            "node": "Extract Form Fields (Lead Details)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Fields (Lead Details)": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Nurture Email": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify \"Sales\" - New \"Hot Lead\"": {
      "main": [
        [
          {
            "node": "Delay Nurture Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b104a731-ab73-4603-bfdd-74707a42c3a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fc8d25a106ac022394c560e554c2f6d863ba427a3edaf5e9108778865f15d43"
  },
  "id": "R1ARw9ISIrqywb9B",
  "tags": []
}